body {
  background-color: #151937;
  color: white;
}

.carousel__gradient {
  background: linear-gradient(to right, #ff5ea3, #ffa7a9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.carousel__button {
  background: linear-gradient(to right, #ff5ea3, #ffa7a9);
  padding: 15px 30px;
  border-radius: 25px;
  cursor: pointer;
}
